body{
    background:#f2f2f2;
    padding-top:57px;
    height:auto;
    min-height: 100%;
   /* padding-bottom:0.5rem;*/
}
::-webkit-input-placeholder{color:#cccccc;}
:-moz-placeholder{color:#cccccc !important;}
::-moz-placeholder{color:#cccccc !important;}
:-ms-input-placeholder{color:#cccccc !important;}


.sales-header{
    position:fixed;
    border-bottom:1px solid #cccccc;
}
span.icon-fanhui{color:#272727;}
.red{color:#ff5a37;}
.mr10{margin-right:0.25rem;}
.ml26{margin-left:0.65rem;}
.ml30{margin-left:0.75rem;}
.mr30{margin-right:0.75rem;}
.mr20{margin-right:0.5rem;}
.mt20{margin-top:0.5rem;}
.mt60{margin-top:1.5rem !important;}

.border-top-ccc{border-top:1px solid #cccccc;}
.border-bottom-ccc{border-top:1px solid #cccccc;}
.form-table{padding:0.75rem;background:#ffffff;border-top:1px solid #cccccc;}
.form-table li{height:2.25rem;overflow: hidden;font-size:0.7rem;color:#272727;margin-top:0.5rem;}
.form-table li:nth-child(1){margin-top:0;}
.form-table li.remark-row{height:auto;}
.form-table .name{width:5.05rem;display: block;float: left;text-align: left;line-height:2.25rem;color:#272727;font-size:0.7rem;}
.form-table .name-value{display: block;float: left;line-height:2.25rem;color:#272727;font-size:0.7rem;margin-left:0.5rem;}
.form-table .car-num{display: block;float: left;line-height:2.25rem;}
.form-table input{width:11.7rem;border:1px solid #cccccc;/*height:2.25rem;*/margin-left:0.5rem;height:0.75rem;line-height:0.75rem; padding:1.05rem 0.5rem;  /*line-height:2.25rem;*/margin-bottom:0;font-size:0.7rem;}
.form-table input.depute{width:5.875rem;border:none;padding-left:2px;padding-right: 0;}
.form-table .btn-depute{color: #fff; width:5rem;height:2.25rem; line-height:2.25rem;padding:0;margin:0;background:#FF5A37;font-weight: 100;font-size:0.7rem;}
.form-table .btn-depute:active{ background-color: #c0392b;}
.form-table .aui-btn-block{width:8.2rem;float: left;height:2.25rem;padding:0;line-height:2.25rem;font-size:0.7rem;font-weight: 100;background-color:#4ab1f9;}
.form-table .aui-btn-block:active{background-color:#3498db;}
.form-table .remark-name{line-height: normal;width:auto;}
.form-table textarea{margin:0;width:14.5rem;margin-left:0.5rem;height:6rem;}

.tag-wrap{padding:0.5rem 0.75rem;border-top:1px solid #cccccc;}
.tag-wrap p{font-size:0.65rem;color:#ff5a37;line-height:0.875rem;}

.footer-btn-box{
    position:static;
}
.footer-btn-box .btn{font-size:0.9rem;color:#ffffff;height:2.45rem;line-height:2.45rem; background-color:#ff5a37;padding:0;}
.btn:active{
    color: #fff;
    background-color: #c0392b;
}


p.yx-select-control{
    display: block;
    padding: 10px 15px;
    margin: 0 0 0 0.5rem;
    height: 2.25rem;
    line-height: 2.25rem;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    position: relative;
    left:0;
    top:0;
    color:#272727;
    width:11.7rem;
}
p.yx-select-control span.text{
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    width: auto;
    line-height: 2.25rem;
    margin: 0 10px;
    font-size:0.7rem;
}
p.yx-select-control select{
    height: 2.2rem;
    border: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    padding: 10px;
    margin:0;
    font-size: 0.75rem;
    background: none;
    overflow: hidden;
    opacity: 0;
    z-index: 9;
}
p.yx-select-control i{
    position: absolute;
    width: 2rem;
    height: 2.25rem;
    display: block;
    right: 0;
    top: 0;
}
p.yx-select-control i.manySelection{
   /* background: url("http://img.youxinpai.com/css/agent/images/icon/select_down.png") no-repeat center center;
    background-size:1rem 1rem;*/
    border-left:1px solid #cccccc;
}
p.yx-select-control i.manySelection:after{
    content: '';
    width:0;
    height:0;
    display: block;
    border:0.4rem solid #808080;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    left:50%;
    top:50%;
    margin-top:-0.2rem;
    margin-left:-0.4rem;
}
