body {
    background: #fff;
    height: auto;
}
::-webkit-input-placeholder{color:#cccccc;}
:-moz-placeholder{color:#cccccc !important;}
::-moz-placeholder{color:#cccccc !important;}
:-ms-input-placeholder{color:#cccccc !important;}





.login-box .login-logo {
    text-align: center;
    width: 6rem;
    margin:4.75rem auto 2rem;
}
.login-box{padding:0 1.5rem;}
.login-box .login-logo img {
    display: block;
    width: 100%;
}

.login-box .input-wrap{border:1px solid #cccccc;  -webkit-border-radius: 0.25rem;  -moz-border-radius: 0.25rem;  border-radius: 0.25rem;overflow: hidden;}
.login-box .input-wrap li{position:relative;overflow: hidden; /*padding-top:0.75rem;*//*height:3rem;*/}
.login-box .input-wrap li:nth-child(2){border-top:1px solid #cccccc;}
.login-box .input-wrap input{border: none;  padding: 1.55rem 2rem 1.2rem;  color: #272727;  font-size: 0.75rem;  height: 1.15rem; /* line-height: 3rem; */  margin: 0;}
.login-box .input-wrap .tag{position:absolute;display: block;font-size:1.5rem;color:#cccccc;}
.login-box .input-wrap .tag.pre{width:0.9rem;height:1.15rem; left:0.5rem;top:0.4rem;}
.login-box .input-wrap .tag.pre img{width:100%;}
.login-box .input-wrap .tag.after{right:0.5rem;top:0.55rem;display: none;font-size:1.2rem;}
.login-box .remember-pwd{margin-top:0.75rem;overflow: hidden}
.login-box .remember-pwd label,.login-box .remember-pwd input{margin:0;padding:0;}
.login-box .remember-pwd .remember-con{font-size:0.75rem;color:#272727;margin-left:0.5rem;}

.login-box  .error-row {
    position: relative;
    font-size: 13px;
    color: #ff5a37;
    text-align: left;
   /* padding:0.5rem 0;*/
    margin-top:0.75rem;
}
.login-box .login-form .btn-row {
    margin-top: 6.25rem;
}

.login-box .login-form .btn-login {
    width: 100%;
    font-size: 0.9rem;
    color: #fff;
    padding: 0.55rem 0;
    background: #ff5a37;
    border: 0;
    border-radius: 0.2rem;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s;
}

.login-box .login-form .btn-login:active {
    color: #fff;
    background-color: #c0392b;
}
.aui-checkbox-name{height:1.05rem;line-height: 1.05rem;  }
.aui-checkbox{width:1.05rem;height:1.05rem;}
.aui-checkbox:checked,
.aui-checkbox.aui-checked {
    background-color: #ffffff;
    border: solid 1px #cccccc;
    text-align: center;
}
.aui-checkbox:checked:before, .aui-checkbox.aui-checked:before {
    color: #ff5a37;
    left:0.1rem;
    top:-0.1rem;
    font-size:0.75rem;
    font-weight: bold;
}
.aui-checkbox:checked:after,
.aui-checkbox.aui-checked:after {
    color: #ff5a37;
    left:0.1rem;
    top:-0.1rem;
    font-size:0.75rem;
    font-weight: bold;
}