.content {
    background: url("../images/dwbg.jpg");
    background-size: cover;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
}

.logo {
    width: 4.8rem;
    margin: 3.5rem auto 1rem auto;
}

.logo img {
    width: 100%;
    display: block;
}

.logo .wz {
    margin-top: 1rem;
}

.btn {
    padding: 0 1.825rem;
    margin-top: 2.775rem;
    text-align: center;
}

.btn-d {
    width: 100%;
    height: 2.5rem;
    border: 0px;
    border-radius: 1.3rem;
    background: rgba(255, 255, 255, 0.8);
    color: #ff0000;
    font-weight: bold;
    -webkit-transition: background 300ms;
    transition: background 300ms;
}

.btn .btn-a {
    background: #fff;
}

.tips {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 999;
}

.tips img {
    width: 100%;
    display: block;
}