html {
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    background: #f3f3f3;
    padding-top: 2.3rem;
}

.sales-header {
    position: fixed;
}

.wrapper {
    padding: .4rem;
    background: #f3f3f3;
}

.car-info {
    background: #ffffff;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    border-radius: .2rem;
    ;
    padding: .4rem;
}

.car-info .title {
    font-size: 16px;
    line-height: 22px;
    opacity: .8;
    color: #000000;
    text-align: left;
    padding-bottom: .2rem;
    ;
}

.car-info .basic-info {
    font-size: 15px;
    line-height: 20px;
    ;
    opacity: 0.5;
    color: #000000;
    text-align: left;
    padding-bottom: .1rem;
    ;
}

.mg-b-8 {
    margin-bottom: .4rem;
}

.bid-content {
    background: #ffffff;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    border-radius: .2rem;
    ;
}

.bid-content .header .btn-bid {
    font-size: 16px;
    line-height: 44px;
    ;
    color: #ffffff;
    text-align: left;
    -webkit-border-top-left-radius: .2rem;
    -moz-border-top-left-radius: .2rem;
    border-top-left-radius: .2rem;
    width: 5rem;
}

.bid-content .header .btn-bid+.ico-sjx {
    display: block;
    /*width: 0;
    height: 0;
    border-left: .8rem solid transparent;
    border-right: .8rem solid transparent;
    margin-left: -.8rem;*/
    width: 16.5px;
    height: 44px;
    background-size: auto 100%;
}

.bid-content .liupai {
    background: #f04953;
}

.bid-content .liupai+.ico-sjx {
    background: url(../images/ico_tran_red.png) no-repeat;
}

.bid-content .toubiao {
    background: #37c2ff;
}

.bid-content .toubiao+.ico-sjx {
    background: url(../images/ico_tran_red.png) no-repeat;
}

.bid-content .chengjiao {
    background: #85d65c;
}

.bid-content .chengjiao+.ico-sjx {
    background: url(../images/ico_tran_gre.png) no-repeat;
}

.bid-content .daichengjiao {
    background: #ffb51a;
}

.bid-content .daichengjiao+.ico-sjx {
    background: url(../images/ico_tran_yel.png) no-repeat;
}

.bid-content .bid-time {
    opacity: 0.69;
    font-size: .8rem;
    line-height: 44px;
    color: #030303;
    float: right;
    margin-right: 1.2rem;
}

.bid-time span {
    color: #ff0000;
    font-size: .9rem;
    display: inline-block;
    min-width: 1.2rem;
    text-align: center;
}

.bid-detail {
    min-height: 18.75rem;
}

.bid-detail .tips {
    padding: 9rem 0;
}

.price-list {
    padding: 3.2rem 1.35rem 0 1.45rem;
}

.price-list li {
    padding-bottom: .3rem;
    overflow: hidden;
}

.price-list li span {
    display: inline-block;
    color: #838383;
    line-height: 34px;
    float: left;
}

.price-list .p-label {
    opacity: .5;
    font-size: .65rem;
    line-height: 34px;
    width: 4.8rem;
    color: #000;
}

.price-list .p-unit {
    font-size: .65rem;
    width: 2.5rem;
    text-align: right;
}

.price-list .p-money {
    font-size: 1rem;
    color: #838383;
    width: 7rem;
    padding-right: 1.5rem;
    text-align: right;
}

.price-list .p-money.bg-grey {
    padding-right: 0;
}

.price-list .p-money.bg-grey .inp-txt {
    border: 0;
    font-size: 1rem;
    text-align: right;
    line-height: 34px;
    border-radius: 0;
    background-color: transparent;
    padding: 0;
    padding-right: 1.5rem;
    margin: 0;
}

.price-list .p-money.bg-grey .inp-txt:disabled {
    color: #000;
    opacity: .4;
}

.inp-txt::-webkit-textfield-decoration-container {
    background-color: #f2f2f2;
}

.inp-txt::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.inp-txt::-webkit-outer-spin-button {
    -webkit-appearance: none;
    /* ���޿��������� */
}

.bg-grey {
    background: #f2f2f2;
    border-radius: 4px;
}

.button {
    padding: 1rem 1.35rem 1rem 1.45rem;
    overflow: hidden;
}

.btn-basic {
    display: inline-block;
    border-radius: 4px;
    width: 100%;
    font-size: .8rem;
    padding: .7rem 0;
    text-align: center;
}

.b-org {
    background: #ff5a37;
    color: #ffffff;
    border-radius: 4px;
}

.b-white {
    background: #fff;
    color: #ff5a37;
    border-radius: 4px;
}

.b-org.disable,
.b-org.disable:active {
    background: #979797;
}

.b-org:active {
    background: #fc8971;
}

.b-white:active {
    background: #ffe6e1;
}