body{
    background:#f2f2f2;
    /*padding-top:2.35rem;*/
    padding-top:48px;
    padding-bottom:3.95rem;
}
.mr20{margin-right: 0.5rem;}
.ml25{margin-left:1.25rem;}
.mt20{margin-top:0.5rem;}
.ml50{margin-left:1.25rem;}
.red{color:#FF5A37;}
.sales-header{
    position:fixed;
    border-bottom:1px solid #cccccc;
}
span.icon-fanhui{color:#272727;}
.order-item-wrap{/*padding-bottom:4.45rem;*/}
.order-item{background:#ffffff;margin-top:0.5rem;padding-bottom:0.5rem;border-bottom:1px solid #cccccc;border-top:1px solid #cccccc;}
.order-item .order-info p{padding: 0 0.5rem;font-size:0.7rem;line-height: 1.4rem;overflow: hidden;}
.order-item .order-info p span{float: left;color:#272727;}
.order-item .order-info p span.title{width:4.3rem;color:#808080;}
.order-item .order-info p span.content{margin-left: 1.25rem;}
.order-item .order-info p.num-info{line-height: 1.125rem;font-size:0.75rem;margin-top:0.25rem;}
.order-item .order-info p.num-info em{height: 0.9rem;font-size:0.75rem;float: left;margin-top:0.1rem;}
.order-item .order-info p.num-info em img{height:100%;}
.order-item .order-edit-box{border-bottom:1px dashed #cfcfcf;/*margin-top:0.5rem;*/padding: 0 0.5rem;overflow: hidden;font-size:0.7rem;height:2.25rem;line-height:2.25rem;}
/*.order-item .order-edit-box .y-icon{background:url(../images/y_icon.png) no-repeat left center;background-size: 1.125rem 1.125rem;}*/
.order-item .order-edit-box span{/*height:1.75rem; line-height:1.75rem;*/display: block;float: left;}
.order-item .order-edit-box span.title{ width:4.3rem;color:#ff5a37; }
.order-item .order-edit-box span.times{ color:#ff5a37;margin-left:1.25rem; }
.order-item .order-edit-box span.edit-btn{width:1.15rem; height: 1.15rem; display: block;float:right;/*font-size:1.125rem;*/color:#808080;margin-top:0.3rem;}
.order-item .order-edit-box span.edit-btn img{width:100%;}


.order-item-empty{
    height:100%;
    background-color:#ffffff;
}
.order-item-empty .item-empty-wrap{padding-top:5.5rem; }
.order-item-empty .item-empty-wrap img{display: block; width:5rem;margin: 0 auto; }
.order-item-empty .item-empty-wrap p{font-size:0.85rem; text-align: center; color:#000;line-height:1.45rem;}

.footer-btn-box.item-empty-btn{background:#fff;border:none;}

#content{
    position: absolute;
    right: 0px;
    left: 0px;
    top: 48px;
    bottom: 0px;
    margin-bottom:3.95rem;
}